/* reset browser styles */
* {
	box-sizing: border-box;
	margin: 0;
    padding: 0;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
/* end reset browser styles */

/* General Page Start--------------- */
body {
	font-family: Arial, Helvetica, sans-serif;
}
html {
	background: url("images/whtShelby.jpg"); /*	https://unsplash.com/photos/0GyzS1Hjjko */
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
}
/* General Page End----------------- */

/* Main Start----------------------- */
button:first-child {
	float: right;
	width: 25px;
}
div span {
	float: right;
}
div > * {
	display: inline-block;
	height: 1.5rem;
	width: 50%;	
}
fieldset {
	border: 0;
	border-top: 2px solid black;
    display: flex;
	flex-direction: column;
	padding: 3px;
}
fieldset div {
	border-top: 1px solid black;
	padding-top: 5px;
}
fieldset div:first-child {
	border-top: none;
}
.flex {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 5px;
}
h1 {
	color: rgb(18, 46, 124);
	margin: 25px auto 55px;
	text-align: center;
	text-shadow: 3px 3px 4px rgb(121, 121, 121);
}
h2 {
	background: linear-gradient(rgb(18, 46, 124), 75%, rgba(131, 131, 131, 0.5));
	color: whitesmoke;
	height: 2rem;
	padding: 2px 0 0 80px;
	text-shadow: 7px 7px 7px black;
}
i {
	margin-bottom: 6px;
}
input {
	border-radius: 5px;
}
main {
    display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
@media only screen and (min-width: 1550px) {
    main {
		max-width: 1550px;
		margin: auto
    }
}
section {
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 5px 5px 7px black;
	margin: 10px;
	margin-top: 25px;
	width: 280px;
}
section > form {
	background-color: rgba(131, 131, 131, 0.5); /*rgb(255, 255, 255, .1);*/
	color: white;
}
select {
	display: flex;
	width: 45%;
}
/* End Main----------------------- */
